*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

$color-primary: #161616;
$color-secundary: #5CA720;
$color-background-footer: #F9F9F9;
$color_divisorias: #A5A1A1;


header{
    height: 12vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;

    a{
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        color: $color-primary;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;

        img{
            width: 25px;

            &:hover{
                cursor: pointer;
            }
        }
    }
    
} /* Fim estilos - Header */

main{
    
    .banner{
        width: 100vw;
        height: 50vh;
        background: url(/assets/images/banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        @media screen and (max-width: 700px){
            
            height: 30vh;
            
        }

    }

    .info_produtos{
        height: 10vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem 0 5rem;

        h3{
            font-weight: 400;
            text-transform: uppercase;
        }

        h4{
            font-weight: 400;
        }
    }


    .card_produtos{

        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        padding: 3rem 2rem 3rem 2rem;

        .card_produto{
            width: 350px;
            height: 370px;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;

            figure{
                

                img{
                    width: 270px;
                    height: 300px;
                    border-radius: 3px;
                    object-fit: cover;
                    transition: .2s ease-in;
                    
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.03);
                    }
                }
            }

            div{
                height: 70px;
                width: 270px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;

                p{
                    color: $color-primary;
                }

                h2{
                    color: $color-primary;

                    span{
                        color: $color-secundary;
                    }
                }
            }
        }

        
    }
} /* Fim estilos - Main */

footer{

    background: $color-background-footer;

    .navegacao{
        height: 40vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem 0 5rem;

        border: solid 1px $color_divisorias;

        nav{
            li{
                list-style: none;
                margin-bottom: 15px;

                a{
                    text-decoration: none;
                    color: $color-primary;
                    font-weight: 500;
                }
            }
        }

        .newsletter{

            h2{
                color: $color-primary;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            div{

                display: flex;
                flex-direction: row;
                

                input{
                    width: 300px;
                    height: 40px;
                    border-radius: 5px 0 0 5px;
                    border: 1px solid #ccc;
                    outline: none;
                    padding: 5px;
                    font-size: 1rem;
                    color: #ccc;
                }
    
                button{
                    background: $color-secundary;
                    color: #FFF;
                    width: 100px;
                    height: 40px;
                    font-size: 1rem;
                    font-weight: 600;
                    border: 0;
                    border-radius: 0 5px 5px 0 ;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            
        }


    }

    .social_medias{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 0 5rem;

        a{

            
            img{
                width: 40px;
            }
        }
    }

}